.blog-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  width: 90%;
}

.item-img {
  width: 100%;
}

.item-detail-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-topic {
  font-size: 14px;
  color: #8e8e8e;
}

.item-title {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}

.item-author-container {
  display: flex;
}

.item-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.item-author {
  font-size: 14px;
  color: #8e8e8e;
}

@media all and (min-width: 992px) {
  .blog-item-container {
    flex-direction: row;
  }

  .item-img {
    width: 300px;
    margin-right: 10px;
  }

  .item-detail-container {
    flex-grow: 1;
  }

  .item-topic {
    font-size: 20px;
  }

  .item-title {
    font-size: 26px;
  }

  .item-avatar {
    width: 50px;
    height: 50px;
  }

  .item-author {
    font-size: 20px;
  }
}
